/*MENÚ - GLOSARIO*/
/*1.HEADER*/
/*2.SECTION HOME*/
/*3.SECTION HISTORIA*/
/*4.SECTION JUEGOS*/
/*5.SECTION VIDEOS*/
/*6.SECTION MÁS*/

:root{
    --verdelima:#79f946;
    --rosado:#F046F9;
    --morado:#A83DDB;
    --lila:#9250F2;
    --azul:#513DDB;
    --celeste:#465FF9;
    --just-white:#fff;
    --white:#e7e7e7;
    --dark-color:#201d20;
    --black: #000000;
}

*{
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    background-color: var(--dark-color);
}

/*HEADER*/

nav {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: 0.2s;
}

nav.sticky{
    padding: 10px;
    background: linear-gradient(var(--rosado), var(--lila), var(--celeste), transparent);
}

nav.sticky .logo i{
    color: var(--white);
}

nav.sticky .logo a{
    color: var(--white);
}

nav .logo{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;
}

nav .logo a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Nova Square', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--verdelima);
}

nav .logo i{
    font-size: 3.4rem;
    color: var(--lila);
    padding: 10px;
}

nav ul{
    height: 60px;
    float: right;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--just-white);
}

nav ul li{
    position: relative;
    list-style: none;
}

nav ul li a{
    position: relative;
    margin: 0 15px;
    width: 100px;
    text-decoration: none;
    color: var(--white);
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.2s;
}

nav ul li a:hover{
    background-color: var(--morado);
    padding: 7px;
    border-radius: 5px;
    color: var(--verdelima);
}

nav .checkbtn {
    font-size: 3rem;
    font-weight: bold;
    width: 45px;
    color: var(--white);
    float: right;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


.banner-1{
    position: relative;
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 0, 179, 0.5)), url("../assets/img/vr-men-grande_AdobeExpress.gif");
    background-size: cover;
}

.banner-1-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 100px;
}

.banner-1-left{
    padding: 20%;
    align-self: center;
}

.banner-1-left h1{
    color: var(--white);
    text-align: left;
}


.banner-1-right{
    overflow: hidden;
}

.banner-1-right img{
    width: 100%;
    height: auto;
    max-width: fit-content;
}

.banner-2{
    width: 100%;
    height: 60vh;
}


/* SECTION 1 */

.benefits{
    width: 100%;
    height: auto;
    padding: 5rem 3rem 10rem 3rem;
    background-color: #201d20;
}

.benefits h1{
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

.benefits .content{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.benefits .card-1{
    width: auto;
    height: auto;
    border-radius: 1rem;

    display: grid;
    place-items: center;
    grid-template-areas: "main";

    overflow: hidden;
    cursor: pointer;
}

.benefits .card-1 img{
    width: 30rem;
    height: 40rem;
    border-radius: inherit;

    object-fit: cover;
    transition: 0.3s;
}

.benefits .card-1 > *{
    grid-area: main;
}

.benefits .card-1 > p{
    opacity: 0;
    color: white;
    font-size: 1.5em;
    width: 20rem;

    transition: opacity 400ms, transform 400ms;
}

.benefits .card-1:is(:hover, :focus) > img{
    filter: brightness(0.4);
    transform: scale(1.1);
}

.benefits .card-1:is(:hover, :focus) > p{
    opacity: 1;
    transform: scale(1.1001);
}

/* SECTION 3 */

.bloc{
    width: 100%;
    height: auto;
    padding: 5rem 3rem 10rem 3rem;
    background-color: #2b292b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.bloc .cards-2{
    width: 30rem;
    height: 40rem;
    border-radius: 1rem;
    background-color: white;
}

.bloc .cards-2 .img{
    width: 100%;
    height: 45%;
    border-radius: 1rem 1rem 0rem 0rem;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bloc .cards-2 .img img{
    width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0rem 0rem;
}

.bloc .cards-2 h2{
    font-size: 2rem;
    margin: 1rem 0rem 1rem 0rem;
    padding: 0rem 1rem 0rem 1rem;
}

.bloc .cards-2 p{
    font-size: 2rem;
    padding: 0rem 1rem 0rem 1rem;
}

@media (max-width: 920px) {
    .banner-1{
        height: 80vh;
    }

    nav .checkbtn {
        display: block;
    }

    nav {
        justify-content: space-between;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 100px;
        left: -100%;
        display: list-item;
        text-align: center;
        transition: .5s;
        background: linear-gradient(transparent, rgba(131, 42, 116, 0.842));
    }

    nav li {
        margin: 3rem 0;
        line-height: 1rem;
        display: block;
        font-size: 2rem;
        padding: 1rem 2rem 1rem 2rem;
    }

    nav .bar-btn {
        display: block;
    }

    #check:checked~ul {
        left: 0;
    }
}

@media (max-width: 500px){
    .banner-1{
        height: 55vh;
    }

    .banner-1-left{
        padding: 10%;
    }

    nav{
        padding: 15px;
    }

    nav.sticky{
        padding: 5px;
    }

    nav .logo{
        margin-right: 0px;
    }

    .benefits .content,
    .bloc{
        flex-direction: column;
    }
    
}

@media (max-width: 360px){
    nav .logo{
        margin-right: 0px;
    }

    nav .logo i{
        padding: 5px;
    }

    nav .checkbtn{
        width: fit-content;
        margin-right: 5px;
    }

    .banner-1-grid{
        display: grid;
        grid-template-columns: 55% 45%;
        padding-top: 65px;
        max-height: fit-content;
    }

    .banner-1-left h1{
        font-size: 1rem;
    }    

    .banner-1-right{
        align-self: center;
    }
}