/*MENÚ - GLOSARIO*/
/*1.HEADER*/
/*2.SECTION HOME*/
/*3.SECTION HISTORIA*/
/*4.SECTION JUEGOS*/
/*5.SECTION VIDEOS*/
/*6.SECTION MÁS*/

:root{
    --rosado:#F046F9;
    --morado:#A83DDB;
    --lila:#9250F2;
    --azul:#513DDB;
    --celeste:#465FF9;
    --just-white:#fff;
    --white:#e7e7e7;
    --dark-color:#1c232b;
    --black: #000000;
}

*{
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    background-color: var(--dark-color);
}

/*HEADER*/
nav {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: background 0.5s ease;
}

nav.sticky{
    padding: 15px;
    background: linear-gradient(var(--rosado), var(--lila), var(--celeste), transparent)
}

nav.sticky .logo i{
    color: var(--white);
}

nav.sticky .logo a{
    color: var(--white);
}

nav .logo{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;
}

nav .logo a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Nova Square', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    color: var(--rosado);    
}

nav .logo i{
    font-size: 3.4rem;
    color: var(--lila);
    padding: 10px;
}

nav ul{
    height: 10rem;
    float: right;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--just-white);
}

nav ul li{
    position: relative;
    list-style: none;
}

nav ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: var(--white);
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

nav .checkbtn {
    font-size: 3rem;
    font-weight: bold;
    width: 45px;
    color: var(--white);
    float: right;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


.banner-1{
    position: relative;
    width: 100%;
    height: 115vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 0, 179, 0.5)), url("../assets/img/vr-mujer-grande_AdobeExpress.gif");
    background-size: cover;
}

@media (max-width: 920px) {
    nav .checkbtn {
        display: block;
    }

    nav {
        justify-content: space-between;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 10rem;
        left: -100%;
        display: list-item;
        text-align: center;
        transition: .5s;
    }

    nav li {
        margin: 3rem 0;
        line-height: 1rem;
        display: block;
        font-size: 2rem;
        padding: 1rem 2rem 1rem 2rem;
    }

    nav .bar-btn {
        display: block;
    }

    #check:checked~ul {
        left: 0;
    }
}

@media (max-width: 500px){
    nav{
        padding: 15px;
    }

    nav.sticky{
        padding: 5px;
    }

    nav ul{
        top: 100px;
    }

    nav .logo{
        margin-right: 0px;
    }
}

@media (max-width: 360px){
    nav .logo{
        margin-right: 0px;
    }

    nav .logo i{
        padding: 5px;
    }

    nav .checkbtn{
        width: fit-content;
        margin-right: 5px;
    }
}