/*MENÚ - GLOSARIO*/
/*1.HEADER*/
/*2.SECTION HOME*/
/*3.SECTION HISTORIA*/
/*4.SECTION JUEGOS*/
/*5.SECTION VIDEOS*/
/*6.SECTION MÁS*/

:root{
    --verdelima:#79f946;
    --rosado:#F046F9;
    --morado:#A83DDB;
    --lila:#9250F2;
    --azul:#513DDB;
    --felipe: #241444;
    --celeste:#465FF9;
    --aqua: #00d3c8;
    --just-white:#fff;
    --white:#e7e7e7;
    --dark-color:#201d20;
    --black: #000000;
}

*{
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    background-color: var(--dark-color);
}

html::-webkit-scrollbar {
    width: 12px;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, var(--rosado));
    border-radius: 6px;
}

html::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, var(--verdelima));
}

.neon {
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
  }

/*HEADER*/

nav {
    height: 100px;
    margin: auto;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: 0.2s;
}

nav.sticky{
    width: 96%;
    height: 80px;
    padding: 10px;
    border-radius: 20px;
    margin: 2% 2%;
    background: linear-gradient(var(--rosado), var(--lila), var(--celeste));
}

nav.sticky .logo i{
    color: var(--white);
}

nav.sticky .logo p{
    color: var(--white);
}

nav .logo{
    display: inline-flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    cursor: default;
}

nav .logo p{
    width: 100px;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Nova Square', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--verdelima);
    text-shadow: 0px 0px 6px rgba(174, 0, 255, 0.7);
}

nav .logo i{
    font-size: 3.4rem;
    color: var(--lila);
    padding: 10px;
}

nav ul{
    height: 60px;
    float: right;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--just-white);
}

nav ul li{
    position: relative;
    list-style: none;
}

nav ul li a{
    position: relative;
    margin: 0 15px;
    width: 100px;
    text-decoration: none;
    color: var(--white);
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.2s;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

nav ul li a:hover{
    border-bottom: 5px solid var(--verdelima);
    padding: 7px;
    border-radius: 5px;
    color: var(--verdelima);
}

nav .checkbtn {
    font-size: 3rem;
    font-weight: bold;
    width: 40px;
    color: var(--white);
    float: right;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*SECTION BANNER-1*/

.banner-1{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(15, 175, 167, 0.5)), url("../assets/img/sectiongames.jpg");
    background-position: center center;
    background-size: cover;
}

.banner-1-content{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    min-width: 200px;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 2%;
}

.banner-1-content h1{
    padding: 20px;
    font-size: 3.6rem;
    font-weight: bold;
    font-family: 'Nova Square', cursive;
    color: var(--white);
}

.banner-1-text{
    padding: 5%;
    align-self: center;
}

.banner-1-text h2{
    color: var(--white);
}


/*realidad virtual*/
.realidad-virtual  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-width: 320px;
    max-width: 1000px;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0 auto;
    background: var(--dark-color);
}

.realidad-virtual h3{
    text-transform: uppercase;
    font-size: 3.4rem;    
    font-weight: bold;
    font-family: 'Nova Square', cursive;
    color: var(--aqua);
    text-shadow: 0px 0px 4px rgba(129, 115, 192, 0.7);
}

.realidad-virtual h4{
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 2.6rem;    
    font-weight: 600;
    font-family: 'Nova Square', cursive;
    color: var(--celeste);
    text-shadow: 0px 0px 4px rgba(129, 115, 192, 0.7);
}

.realidad-virtual-information{
    text-align: justify;
    font-size: 1.5rem;
    padding: 20px;
    color: var(--white);
}
  
.realidad-virtual-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.responsive-iframe{
    width: 100%;
    height: auto;
}

.tabs, .tabs2 {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
}

.tabs__head, .tabs2__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    box-shadow: 0px 4px 5px rgba(112, 255, 212, 0.1);
    border-radius: 30px;
    padding: 10px 5px;
    margin-bottom: 20px;
    min-width: 300px;
}

.tabs__toggle, .tabs2__toggle {
    margin: 0 5px;
    padding: 7px 25px;
    background: var(--white);
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}

.tabs__name, .tabs2__name {
    font-weight: 500;
    font-size: 2rem;
    color: var(--lila);
}

.tabs__body, .tabs2__body {
    background: var(--white);
    box-shadow: 0px 4px 5px rgba(32, 170, 106, 0.438);
    border-radius: 25px;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.vid_tab{
    padding: 10px;
}

.tabs__title, .tabs2__title {
    font-weight: bold;
    font-size: 2.4rem;
    color: var(--aqua);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.tabs__text, .tabs2__text {
    font-size: 1.4rem;
    text-align: justify;
    line-height: 1.2;
    color: var(--dark-color);
}

.tabs__content, .tabs2__content{
    display: none;
}

.tabs__toggle.is-active, .tabs2__toggle.is-active2 {
    background: #b2e5fd;
}

.tabs__toggle.is-active .tabs__name, .tabs2__toggle.is-active2 .tabs2__name{
    color: var(--aqua);
}

.tabs__content.is-active, .tabs2__content.is-active2 {
    display: block;
}

.boton{
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 20px;
    color: var(--white);
    background-color: var(--lila);
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    border-radius: 10px;
    width: 150px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
    margin: 10px auto
}

.boton:hover{
    background-color: var(--aqua);
}

/*JUGABLES*/
.jugables{
    min-width: 240px;
    max-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    text-align: center;
    margin: 0 auto;
    padding: 2%;
}

.jugables h4{
    text-transform: uppercase;
    font-size: 2.6rem;    
    font-weight: 600;
    font-family: 'Nova Square', cursive;
    color: var(--verdelima);
    text-shadow: 0px 0px 4px rgba(129, 115, 192, 0.7);
}

.vr-grid{
    width: 95%;
    display: grid;
    padding: 2%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin: 0 auto;
}

.vr-grid h5{
    padding: 20px 20px 0;
    font-size: 2.6rem;
    color: var(--aqua);
}

.vr-jugable-card{
    width: auto;
    border-radius: 15px;
    background-color: var(--felipe);
}

.responsive-iframe-jugable{
    width: 100%;
    height: auto;
    padding: 5%;
}

/*FOOTER*/
footer{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);
    background-color: black;
}

footer h3{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Nova Square', cursive;
    color: var(--verdelima);
    text-shadow: 0px 0px 4px rgba(255,255,255,0.7);
}

.copyright-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.copyright-container img{
    padding: 10px;
}

.copyright{
    font-size: 1.2rem;
    opacity: 0.7;
    font-weight: 400;
}

.footer-menus{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 25%;
}

.footer-container{
    height: fit-content;
    width: 100%;
    padding: 30px 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-container-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.footer-info{
    padding-top: 15px;
    font-size: 1.4rem;
}

.menu-item-footer{
    font-size: 1.4rem;
    margin: 0.2rem 0;
    opacity: 0.7;
    color: var(--just-white);
    text-decoration: none;
    transition: 0.5s;
}

.menu-item-footer:hover{
    opacity: 1;
}

.menu-title{
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#social-title{
    padding-left: 10px;
}

.social-link{
    height: 100%;
    padding: 10px;    
    font-size: 3rem;
    color: var(--white);
}

.social-link:hover{
    color: var(--verdelima);
}

/*COOKIES*/
.cookies-main{
    display: flex;
    justify-content: center;
}

.aviso-cookies {
	display: none;
	background: #fff;
	padding: 20px;
	width: 90%;
	min-width: 280px;
	line-height: 150%;
	border-radius: 10px;
	position: fixed;
	bottom: 20px;
	z-index: 100;
	padding-top: 60px;
	box-shadow: 0px 2px 20px 10px rgba(222,222,222,.25);
	text-align: center;
}

.aviso-cookies.activo {
	display: block;
}

.aviso-cookies .galleta {
	max-width: 100px;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.aviso-cookies .titulo{
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.aviso-cookies .parrafo {
	margin-bottom: 15px;
    font-size: 1.2rem;
}

.cookies-abajo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cookies-abajo .boton {
	width: 200px;
	background: var(--lila);
	border: none;
	color: var(--just-white);
	text-align: center;
	padding: 15px 20px;
	font-weight: 700;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 15px;
	margin-bottom: 15px;
	font-size: 1.4rem;
}

.cookies-abajo .boton:hover {
	background: none;
    color: var(--lila);
    border: 5px solid var(--lila);

}

.cookies-abajo .enlace {
	color: var(--celeste);
	text-decoration: none;
	font-size: 14px;
}

.cookies-abajo .enlace:hover {
	text-decoration: underline;
}

.fondo-aviso-cookies {
	display: none;
	background: rgba(96, 63, 100, 0.8);
	position: fixed;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.fondo-aviso-cookies.activo {
	display: block;
}


@media (max-width: 920px) {
    nav .checkbtn {
        display: block;
    }

    nav {
        justify-content: space-between;
    }

    nav.sticky ul {
        margin-left: 2%;
        margin-right: 2%;
        position: fixed;
        width: 96%;
        height: 280px;
        left: 0%;
        top: -100%;
        padding-top: 0;
        margin-top: 60px;
        display: list-item;
        text-align: center;
        transition: .7s;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background: linear-gradient( var(--celeste), var(--lila), var(--rosado));
        z-index: -8000;
    }

    nav.sticky li {
        margin: 3rem 0;
        line-height: 1rem;
        display: block;
        font-size: 2rem;
        padding: 1rem;
    }

    nav ul {
        margin-left: 2%;
        margin-right: 2%;
        position: fixed;
        width: 96%;
        height: 340px;
        left: 0%;
        top: -100%;
        padding-top: 60px;
        display: list-item;
        text-align: center;
        transition: 0.8s;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background: linear-gradient( transparent,var(--celeste), var(--lila), var(--rosado));
        z-index: -8000;
    }

    nav li {
        margin: 3rem 0;
        line-height: 1rem;
        display: block;
        font-size: 2rem;
        padding: 1rem;
    }

    nav .bar-btn {
        display: block;
    }

    #check:checked~ul {
        top: 0%;
    }

    .realidad-virtual-grid{
        grid-template-columns: 100%;
    }

    footer h3{
        text-align: center;
    }

    .footer-container{
        padding: 20px;
        flex-direction: column;
    }

    .footer-container-content{
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid var(--lila);
        justify-content: center;
        align-items: center;
    }

    .footer-menus{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px splid var(--lila);
    }

    #social-title{
        padding-left: 0;
    }
}

@media (max-width: 500px){
    nav{
        padding: 15px;
    }

    nav.sticky{
        padding: 5px;
    }

    nav .logo{
        margin-right: 0px;
    }

    .vr-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 360px){
    nav .logo{
        margin-right: 0px;
    }

    nav .logo i{
        padding: 5px;
    }

    nav .checkbtn{
        width: fit-content;
        margin-right: 5px;
    }

    .copyright-container img{
        padding: 0;
    }
}